<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>注册页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.3.1.js">
    </script>
    <script type="text/javascript" src="../Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="../Scripts/CookieAbout.js"></script>
    <script type="text/javascript" src="../Scripts/AjaxAbout.js"></script>
    <style>
        .centerdiv {
            align-self: center;
            text-align: center;
        }
        
        .titlediv {
            align-self: center;
            text-align: center;
        }
        
        .Registertable {
            text-align: center;
            width: auto;
            height: auto;
            margin: auto;
        }
    </style>
    <style type="text/css">
        .titlediv {
            font: 300;
            color: darkorange;
            font-size: 25px;
        }
        
        .tip {
            color: lightslategray;
            font-size: 15px;
        }
        
        .errortip {
            color: red;
            font-size: 20px;
        }
        
        .link {
            color: slateblue;
            font-size: 15px;
        }
        
        .DiffPwd {
            color: red;
            font-size: 15px;
        }
        
        #txtUserName:focus {
            background-color: #FFFFB0;
        }
        
        #txtPwd:focus {
            background-color: #B3FFB3;
        }
        
        #txtRepwd:focus {
            background-color: #FFB0FF;
        }
        
        #selectRole:focus {
            background-color: #A7F8F8;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="titlediv col-xs-12 col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-3">
            请在此注册
        </div>
        <div class="col-xs-12 col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-3">
            <div class="input-group">
                <span class="input-group-addon">用户名：&nbsp;&nbsp;&nbsp;</span>
                <input type="text" class="form-control" id="txtUserName" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">密码：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="password" class="form-control" id="txtPwd" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">重复密码：</span>
                <input type="password" class="form-control" id="txtRepwd" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">角色选择：</span>
                <select class="form-control" id="selectRole">
                    <option value="1">学生</option>
                    <option value="2">教师</option>
                </select>
            </div>
        </div>
        <div class="centerdiv col-xs-12 col-md-2 col-sm-2"><input type="button" class="btn btn-link small" id="lnkbtn" obclick="lnkbtn_Click" value="检测用户名是否存在" />
        </div>
        <div id="tipdiv" class="tip centerdiv col-xs-12 col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-3">
            以上内容均为必填项，请认真填写
        </div>
        <div id="errortipdiv" class="errortip centerdiv col-xs-12 col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-3">

        </div>
        <div class="centerdiv col-xs-12 col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-3">
            <input id="btnOK" type="button" value="注册" class="btn btn-block btn-danger" onclick="btnOK_Click()" />
            <input id="btnBack" type="button" value="返回" class="btn btn-block btn-info" onclick="btnBack_Click()" />

        </div>
        <div class="col-xs-12 col-md-2 col-sm-2">
        </div>
    </div>
    <script>
        window.onload = function() {
            $("#selectRole").find("option:selected")[0].selected = false;
            $('#txtUserName').bind('keyup', function(event) {
                if (event.keyCode == "13") {
                    if (UserNameCheck()) {
                        $('#txtPwd').focus();
                    }
                }
            });
            $('#txtPwd').bind('keyup', function(event) {　
                if (event.keyCode == "13") {
                    if (PasswordCheck()) {
                        $('#txtRepwd').focus();
                    }
                }
            });
            $('#txtRepwd').bind('keyup', function(event) {
                if (event.keyCode == "13") {　
                    if (PasswordReCheck()) {
                        $('#selectRole').focus();
                    }
                }
            });
            $("select#selectRole").change(function() {
                $('#btnOK').focus();
            });
            $('#btnOK').bind('keyup', function(event) {
                if (event.keyCode == "13") {　
                    Register();
                }
            });
        }

        function PasswordCheck() {
            var pwd = $('#txtPwd').val();
            if (pwd.length >= 11) {
                $('#errortipdiv').text('密码过长');
                return false;
            } else if (pwd.length <= 5) {
                $('#errortipdiv').text('密码过短');
                return false;
            } else {
                $('#errortipdiv').text('');
                return true;
            }
        }

        function PasswordReCheck() {
            var pwd = $('#txtPwd').val();
            var repwd = $('#txtRepwd').val();
            var pwd = $('#txtRepwd').val();
            if (pwd.length >= 11) {
                $('#errortipdiv').text('密码过长');
                return false;
            } else if (pwd.length <= 5) {
                $('#errortipdiv').text('密码过短');
                return false;
            } else {
                if (pwd == repwd) {
                    $('#errortipdiv').text('');
                    return true;
                } else {
                    $('#errortipdiv').text('两次密码输入不一致');
                    return false;
                }
            }
        }

        function UserNameCheck() {
            var res;
            $.ajax({
                type: "get",
                url: '../api/User?userName=' + $('#txtUserName').val(),
                async: false,
                success: function(data) {
                    if (data) {
                        $('#errortipdiv').text('');
                        res = true;
                    } else {
                        $('#errortipdiv').text('用户名已存在');
                        res = false;
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    ajaxError(XMLHttpRequest, textStatus);
                    location = 'Register.html';
                }
            });
            return res;
        }

        function Register() {
            if (UserNameCheck() && PasswordCheck() && PasswordReCheck()) {
                $.ajax({
                    type: "post",
                    url: '../api/Login?name=' + $('#txtUserName').val() + '&password=' + $('#txtPwd').val() + '&repeat=' + $('#txtRepwd').val() + '&role=' + $('#selectRole').val(),
                    success: function(data) {
                        if (data) {
                            alert('注册成功');
                            var id = getId();
                            alert('请牢记登录账号为:' + id)
                            location = 'Login.html';
                        } else {
                            alert('注册失败');
                            location = 'Register.html';
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        ajaxError(XMLHttpRequest, textStatus);
                        location = 'Register.html';
                    }
                });
            }
        }

        function getId() {
            var Id = "";
            $.ajax({
                type: "get",
                url: '../api/Login/GetRegisterId',
                async: false,
                success: function(data) {
                    Id = data;
                    alert(data);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    ajaxError(XMLHttpRequest, textStatus);
                    location = 'Register.html';
                }
            });
            return Id;
        }

        function btnOK_Click() {
            Register();
        }

        function btnBack_Click() {
            location = 'Login.html';
        }
    </script>
</body>

</html>