<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>用户资料</title>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="../Scripts/jquery-3.3.1.js">
    </script>
    <script type="text/javascript" src="../Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="../Scripts/CookieAbout.js"></script>
    <script type="text/javascript" src="../Scripts/AjaxAbout.js"></script>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="userinfo">
                <div class="media well">
                    <div class="media-left">
                        <a href="/jiaowuchu/Manage/AddAvatar" title="点击上传照片">
                            <img class="media-object" src="/jiaowuchu/images/contacts-flat.png" alt="" style="width:92px; height:120px;">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">
                            <p>
                                <span>
                                    李林风
                                </span>
                                <em style="font-size:smaller;font-style:normal;">
                                    201709001013
                                </em>
                            </p>
                        </h3>
                        <p>计算机系 2017级</p>
                        <p>计算机类 计算机1710班</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>