@{
    Layout = "";
    ViewData["JsFunction"] = "AdministratorFunction.js";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/WelcomeView.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/js/CookieAbout.js"></script>
    <script type="text/javascript" src="~/js/AjaxAbout.js"></script>
    <script type="text/javascript" src="~/js/@ViewData["JsFunction"]"></script>

</head>
<script>

    window.onload = function () {
        var User = getJSONCookie('User');
        if (User.Role == 3) {
            dataTypeChoose = 2;
            onloadViewAdmin(admin_index, dataTypeChoose);
            GetPageNumAdmin(dataTypeChoose);
        }
    }

</script>
<div>
    <table id="apply_table" style="margin:auto;text-align:center">
        <thead>
            <tr>
                <td>账号</td>
                <td>名称</td>
                <td>删除</td>
            </tr>
        </thead>
        <tbody id="apply_list">
        </tbody>
    </table>
</div>
<div style="text-align: center;">
    <div class="mr-auto">
        <button class="btn btn-info" onclick="LeftIndex()">&lt;</button>
        <label id="index">1</label>
        <label id="split">/</label>
        <label id="page">3</label>
        <button class="btn btn-info" onclick="RightIndex()">&gt;</button>
    </div>
</div>