@{
    Layout = "_WelcomeLayout";
    ViewData["JsFunction"] = "UserInfomationFunction.js";
}
<div class="container-fluid">
    <div class="row">
        <div class="userinfo">
            <div class="card">
                <div class="card-img-top" style="text-align: center;">
                    <a href="#" title="点击上传照片">
                        <img class="mx-auto" src="/images/contacts-flat.png" alt="" style="width:92px; height:120px;">
                    </a>
                </div>
                <div class="card-body">
                    <h3 class="media-heading">
                        <p>
                            <span id="userName">Name</span>
                            <br/>
                            <em id="userNumber" style="font-size:smaller;font-style:normal;">Number</em>
                        </p>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
