@{
    Layout = "_UserLayout";
    ViewData["JsFunction"] = "AdministratorFunction.js";
}
<script>

    window.onload = function () {
        var User = getJSONCookie('User');
        if (User.Role == 3) {
            dataTypeChoose = 7;
            onloadViewAdmin(admin_index, dataTypeChoose);
            GetPageNumAdmin(dataTypeChoose);
        }
    }

</script>
<div>
    <div id="settingList" class="row mx-auto" style="text-align:center;width:60%">

    </div>
</div>