@{
    Layout = "_UserLayout";
    ViewData["JsFunction"] = "AdministratorFunction.js";
}
<script>

    window.onload = function () {
        var User = getJSONCookie('User');
        if (User.Role == 3) {
            dataTypeChoose = 3;
            onloadViewAdmin(admin_index, dataTypeChoose);
            GetPageNumAdmin(dataTypeChoose);
        }
    }

</script>
<div>
    <table id="apply_table" style="margin:auto;text-align:center">
        <thead>
            <tr>
                <td>账号</td>
                <td>名称</td>
                <td>申请角色</td>
                <td>通过</td>
                <td>拒绝</td>
            </tr>
        </thead>
        <tbody id="apply_list">
        </tbody>
    </table>
</div>
<div style="text-align: center;">
    <div class="mr-auto">
        <button class="btn btn-info" onclick="LeftIndex()">&lt;</button>
        <label id="index">1</label>
        <label id="split">/</label>
        <label id="page">3</label>
        <button class="btn btn-info" onclick="RightIndex()">&gt;</button>
    </div>
</div>