<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LoginView.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/CookieAbout.js"></script>
    <script type="text/javascript" src="~/js/AjaxAbout.js"></script>
    <script type="text/javascript" src="~/js/@ViewData["JsFunction"]"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="HeaderDiv"></div>
    <div class="container-fluid">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>
