@{
    Layout = "_LoginRegisterLayout";
    ViewData["Title"] = "登录";
    ViewData["JsFunction"] = "LoginFunction.js";
}
<div class="col-xs-12 col-md-4 offset-md-3 col-sm-4 offset-sm-3">
    <div class="TipFont">
        请先登录！！!
    </div>
    <div class="input-group">
        <div class="input-group-append">
            <span class="input-group-text">账号：</span>
        </div>
        <input type="text" class="form-control" id="txtAccount" />
    </div>
    <div class="input-group">
        <div class="input-group-append">
            <span class="input-group-text">密码：</span>
        </div>
        <input type="password" class="form-control" id="txtPwd" />
    </div>
</div>
<div class="col-md-2 col-sm-2"></div>
<div id="ValidateNum1" class="col-xs-12 col-md-4 offset-md-3 col-sm-4 offset-sm-3" style="display:none">
    <div class="input-group">
        <div class="input-group-append">
            <span class="input-group-text">验证码:</span>
        </div>
        <input type="text" class="form-control" id="txtValidateNum" />
    </div>
</div>
<div id="ValidateNum2" class="col-xs-12 col-md-4 col-sm-4" style="display:none">
    <p>
        <img style="height: 100%;" onclick="getRandom()" id="NumImage" src="#" /> 请输入图片中验证码！
    </p>
</div>
<div class="col-xs-12 col-md-4 offset-md-3 col-sm-4 offset-sm-3 text-center">
    <div class="btn-group">
        <input type="button" id="btnLogin" class='btn btn-success' onclick="Login()" value="登录" />
        <input type="button" id="btnRegister" class="btn btn-success" onclick="Register()" value="注册" />
    </div>
</div>
<div class="col-md-2 col-sm-2"></div>