@{
    Layout = "_WelcomeLayout";
    ViewData["Title"] = "管理员";
    ViewData["JsFunction"] = "AdministratorFunction.js";
}
<div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-AdminView-tab" data-toggle="tab" href="#nav-AdminView" role="tab" aria-controls="nav-AdminView" aria-selected="true" onclick="onclickAdminTab('UserApply')">用户申请</a>
            <a class="nav-item nav-link" id="nav-AdminView-tab" data-toggle="tab" href="#nav-AdminView" role="tab" aria-controls="nav-AdminView" aria-selected="false" onclick="onclickAdminTab('ExamApply')">考试申请</a>
            <a class="nav-item nav-link" id="nav-AdminView-tab" data-toggle="tab" href="#nav-AdminView" role="tab" aria-controls="nav-AdminView" aria-selected="false" onclick="onclickAdminTab('Exam')">考试列表</a>
            <a class="nav-item nav-link" id="nav-AdminView-tab" data-toggle="tab" href="#nav-AdminView" role="tab" aria-controls="nav-AdminView" aria-selected="false" onclick="onclickAdminTab('Student')">学生列表</a>
            <a class="nav-item nav-link" id="nav-AdminView-tab" data-toggle="tab" href="#nav-AdminView" role="tab" aria-controls="nav-AdminView" aria-selected="false" onclick="onclickAdminTab('Teacher')">教师列表</a>
            <a class="nav-item nav-link" id="nav-AdminView-tab" data-toggle="tab" href="#nav-AdminView" role="tab" aria-controls="nav-AdminView" aria-selected="false" onclick="onclickAdminTab('Course')">课程列表</a>
            <a class="nav-item nav-link" id="nav-AdminView-tab" data-toggle="tab" href="#nav-AdminView" role="tab" aria-controls="nav-AdminView" aria-selected="false" onclick="onclickAdminTab('Setting')">设置列表</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-AdminView" role="tabpanel" aria-labelledby="nav-AdminView-tab">
            <iframe id="_iFrame" scrolling="no" src="../Admin/UserApply" style=" width: -webkit-fill-available; border: none; margin: auto;">
            </iframe>
        </div>
    </div>
</div>
