@{
    Layout = "_WelcomeLayout";
    ViewData["Title"] = "同学";
    ViewData["JsFunction"] = "StudentFunction.js";
}
<div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-StudentView-tab" data-toggle="tab" href="#nav-StudentView" role="tab" aria-controls="nav-StudentView" aria-selected="true" onclick="onclickStudentTab('courseView')">课程查看</a>
            <a class="nav-item nav-link" id="nav-StudentView-tab" data-toggle="tab" href="#nav-StudentView" role="tab" aria-controls="nav-StudentView" aria-selected="false" onclick="onclickStudentTab('chooseCourse')">学生选课</a>
            <a class="nav-item nav-link" id="nav-StudentView-tab" data-toggle="tab" href="#nav-StudentView" role="tab" aria-controls="nav-StudentView" aria-selected="false" onclick="onclickStudentTab('gradeView')">成绩查看</a>
            <a class="nav-item nav-link" id="nav-StudentView-tab" data-toggle="tab" href="#nav-StudentView" role="tab" aria-controls="nav-StudentView" aria-selected="false" onclick="onclickStudentTab('Exam')">待考考试</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-StudentView" role="tabpanel" aria-labelledby="nav-StudentView-tab">
            <iframe id="StudentFrame" src="../Student/GetCourseView" style=" width: -webkit-fill-available; border: none; margin: auto;height: -webkit-fill-available;">
            </iframe>
        </div>
    </div>
</div>
