@{
    Layout = "_UserLayout";
    ViewData["JsFunction"] = "StudentFunction.js";
}
<script>

    window.onload = function () {
        var User = getJSONCookie('User');
        var Id = User.UserID;
        if (User.Role == 1) {
            dataTypeChoose = 3;
            onloadViewStudent(student_index, dataTypeChoose, Id);
            GetPageNumStudent(dataTypeChoose);
        }
    }

</script>
<div>
    <div style="text-align:center" class="row">
        <div class="col-2 m-auto">课程：</div>
        <div class="col-4">
            <select id="courseSelect" style="width: inherit;" class="custom-select"></select>
        </div>
        <div class="col-2 m-auto">考试：</div>
        <div class="col-4">
            <select id="examSelect" style="width: inherit;" class="custom-select"></select>
        </div>
        <table id="apply_table" style="margin:auto;text-align:center">
            <thead>
                <tr>
                    <td>课程名称</td>
                    <td id="examName">考试名称</td>
                    <td>成绩</td>
                </tr>
            </thead>
            <tbody id="apply_list_student_3">
            </tbody>
        </table>
    </div>
</div>
