<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>欢迎，@ViewData["Title"]好！</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/WelcomeView.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/js/CookieAbout.js"></script>
    <script type="text/javascript" src="~/js/AjaxAbout.js"></script>
    <script type="text/javascript" src="~/js/WelcomeFunction.js"></script>
    <script type="text/javascript" src="~/js/@ViewData["JsFunction"]"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-md-8 col-sm-8">
                <div class="logobg">
                    <a>学生信息管理系统</a>
                </div>
            </div>
            <div class="col-xs-4 col-md-4 col-sm-4">
                <nav class="divtrans navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#option">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="option" class="navbar-collapse collapse">
                        <ul id='small_op' class="nav navbar-nav">
                            <li class="dropdown">
                            <li><a href="#">用户资料</a></li>
                            <li><a href="#">修改用户名</a></li>
                            <li><a href="#">修改密码</a></li>
                            <li><a id="reLogin" onclick="ReLogin()" href="#">重新登录</a></li>
                            </li>
                            <li><a id="exitSystem" onclick="closePageForm()" href="#">退出系统</a></li>
                        </ul>
                        <ul id='big_op' class="nav navbar-nav">
                            <li class="dropdown">
                                <a id="option_drop" href="#" class="dropdown-toggle" data-toggle="dropdown"></a>
                                <ul class="dropdown-menu" style="min-width:100%;">
                                    <li><a href="#">修改用户名</a></li>
                                    <li><a href="#">修改密码</a></li>
                                    <li class="divider"></li>
                                    <li><a id="reLogin" onclick="ReLogin()" href="#">重新登录</a></li>
                                </ul>
                            </li>
                            <li><a href="#">用户资料</a></li>
                            <li><a id="exitSystem" onclick="closePageForm()" href="#">退出系统</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
