@{
    Layout = "_WelcomeLayout";
    ViewData["Title"] = "管理员";
    ViewData["JsFunction"] = "AdministratorFunction.js";
}
<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a id="ApplyTab" onclick="ChangeAdminLabel('Apply')" class="nav-link active" href="#">用户申请</a>
        </li>
        <li class="nav-item">
            <a id="ExamApplyTab" onclick="ChangeAdminLabel('ExamApply')" class="nav-link" href="#">考试申请</a>
        </li>
        <li class="nav-item">
            <a id="ExamTab" onclick="ChangeAdminLabel('Exam')" class="nav-link" href="#">考试列表</a>
        </li>
        <li class="nav-item">
            <a id="StudentTab" onclick="ChangeAdminLabel('Student')" class="nav-link" href="#">学生列表</a>
        </li>
        <li class="nav-item">
            <a id="TeacherTab" onclick="ChangeAdminLabel('Teacher')" class="nav-link" href="#">教师列表</a>
        </li>
        <li class="nav-item">
            <a id="CourseTab" onclick="ChangeAdminLabel('Course')" class="nav-link" href="#">课程列表</a>
        </li>
    </ul>
</div>
<iframe id="AdminFrame" src="../Admin/UserApply" id="Admin_Page" style=" width: -webkit-fill-available; border: none; margin: auto;height: -webkit-fill-available;">
</iframe>
