.HeaderDiv {
    width: -webkit-fill-available;
}

@media (min-width: 0px) {
    .HeaderDiv {
        height: 50px;
    }

}

@media (min-width: 530px) {
    .HeaderDiv {
        height: 100px;
    }

}

@media (min-width: 992px) {
    .HeaderDiv {
        height: 150px;
    }

}


.Logintable {
    text-align: center;
    width: auto;
    height: auto;
    margin: auto;
}

.TipFont {
    align-self: center;
    text-align: center;
    font: 300;
    color: darkorange;
    font-size: 25px;
}

.titlediv {
    align-self: center;
    text-align: center;
}

.Registertable {
    text-align: center;
    width: auto;
    height: auto;
    margin: auto;
}

.titlediv {
    font: 300;
    color: darkorange;
    font-size: 25px;
}

.tip {
    color: lightslategray;
    font-size: 15px;
}

.errortip {
    color: red;
    font-size: 20px;
}

.link {
    color: slateblue;
    font-size: 15px;
}

.DiffPwd {
    color: red;
    font-size: 15px;
}

#txtUserName:focus {
    background-color: #FFFFB0;
}

#txtRegisterPwd:focus {
    background-color: #B3FFB3;
}

#txtRepwd:focus {
    background-color: #FFB0FF;
}

#selectRole:focus {
    background-color: #A7F8F8;
}