<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../wwwroot/css/WelcomeView.css" />
    <script src="../../wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script src="../../wwwroot/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../wwwroot/js/CookieAbout.js"></script>
    <script type="text/javascript" src="../../wwwroot/js/AjaxAbout.js"></script>
    <script type="text/javascript" src="../../wwwroot/js/TeacherFunction.js"></script>
</head>

<body>
</body>
<script>

    function openWindow(htmlurl, tmpWidth, tmpHeight, itop, ileft) {
        if (!tmpWidth) {
            tmpWidth = 500;
        }
        if (!tmpHeight) {
            tmpHeight = 500;
        }
        var top = ((window.screen.availHeight - 30 - tmpHeight) / 2);
        if (itop != null && itop != "") {
            top = itop;
        }
        var left = ((window.screen.availWidth - 10 - tmpWidth) / 2);
        if (ileft != null && ileft != "") {
            left = ileft;
        }

        window.open(htmlurl, "_blank",
            "toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=no,top=" +
            top + ",left=" + left + ",width=" + tmpWidth + "px,height=" + tmpHeight + "px");
    }
</script>

</html>