@{
    Layout = "_UserLayout";
    ViewData["JsFunction"] = "TeacherFunction.js";
}
<script>
    window.onload = function () {
        var User = getJSONCookie('User');
        var Id = User.UserID;
        if (User.Role == 2) {
            dataTypeChoose = 3;
            onloadViewTeacher(teacher_index, dataTypeChoose, Id);
            GetPageNumTeacher(dataTypeChoose);
        }
        $("#selectCourse").change(function () {
            $("#selectExam").empty();
            onloadExamSelectList();
            onloadManageGradeView(teacher_index);
        });
        $("#selectExam").change(function () {
            onloadManageGradeView(teacher_index);
        });
        $("#selectCourse").click(function () {
            $("#selectExam").empty();
            onloadExamSelectList();
            onloadManageGradeView(teacher_index);
        });
        $("#selectExam").click(function () {
            onloadManageGradeView(teacher_index);
        });
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-2">
            课程：
        </div>
        <div class="col-4">
            <select id="selectCourse" class="custom-select">
            </select>
        </div>
        <div class="col-2">
            考试：
        </div>
        <div class="col-4">
            <select id="selectExam" class="custom-select">
            </select>
        </div>
        <div id="message" class="col-12 text-center" style="height:45px;font-size: xx-large;">
        </div>
        <div class="col-12">
            <table id="apply_table" style="margin:auto;text-align:center">
                <thead>
                    <tr>
                        <td>学号</td>
                        <td>姓名</td>
                        <td id="examName">成绩</td>
                    </tr>
                </thead>
                <tbody id="apply_list">
                </tbody>
            </table>
        </div>
        <div style="text-align: center;" class="col-12">
            <div class="mr-auto">
                <button class="btn btn-info" onclick="LeftIndex()">&lt;</button>
                <label id="index">1</label>
                <label id="split">/</label>
                <label id="page">3</label>
                <button class="btn btn-info" onclick="RightIndex()">&gt;</button>
            </div>
        </div>
    </div>
</div>
