.logobg a {
    margin: 0 auto;
    text-align: center;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    display: block;
    color: #fbfaf5;
    height: 80px;
    width: 520px;
    line-height: 80px;
    text-indent: -9999px;
}

    .logobg a:hover {
        opacity: 0.7;
    }

.divtrans {
    background-color: transparent;
    border-color: transparent;
}

@media (min-width: 0px) {
    .logobg a {
        background: url(../images/logo_small.png);
        background-repeat: no-repeat;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        height: 110px;
        background-size: contain
    }

    #big_op {
        display: none;
    }

    #small_op {
        display: block;
        font-size: 11px;
        text-align: center;
    }
}

@media (min-width: 530px) {
    .logobg a {
        background: url(../images/logo.png);
        background-repeat: no-repeat;
        margin: 0 auto;
        text-align: center;
        width: 470px;
        background-size: 470px;
    }

    #small_op {
        display: none;
    }

    #big_op {
        display: block;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .logobg a {
        background: url(../images/logo_big.png);
        background-repeat: no-repeat;
        margin: 0 auto;
        text-align: center;
        display: block;
        color: #fbfaf5;
        height: 110px;
        width: 620px;
        line-height: 80px;
        text-indent: -9999px;
    }

    .navbar-nav {
        float: right;
    }

    #small_op {
        display: none;
    }

    #big_op {
        display: block;
        text-align: center;
    }
}
